<!-- <span *ngIf="!users.length">You'll never see this span</span> -->



<!-- <h1>{{id}}</h1> -->
<!-- <hr> -->
<ul>
    <!-- <li><a [routerLink]="['/emp', +id]">Employee Details </a></li> -->
    
     <li><a [routerLink]="['/emp', 208]">Employee Details: 208</a></li>
     <li><a [routerLink]="['/emp', 209]">Employee Details: 209</a></li>
     <li><a [routerLink]="['/emp', 210]">Employee Details: 210</a></li>
     <li><a [routerLink]="['/emp', 211]">Employee Details: 211</a></li>
     <li><a [routerLink]="['/emp', 212]">Employee Details: 212</a></li>
     <li><a [routerLink]="['/emp', 213]">Employee Details: 213</a></li>
     <li><a [routerLink]="['/emp', 214]">Employee Details: 214</a></li>
     <li><a [routerLink]="['/emp', 215]">Employee Details: 215</a></li>
     <li><a [routerLink]="['/emp', 216]">Employee Details: 216</a></li>

    <!-- <li><a [routerLink]="['/emp', 25]">Employee Details 3</a></li>  -->
  </ul>

  <div class="container-fluid">
    <h6>{{cust?.id}}</h6>
    <h6>{{cust?.name}}</h6>
    <h6>{{cust?.email}}</h6>
    <h6>{{cust?.gender}}</h6>
    <h6>{{cust?.created_at}}</h6>
    <h6>{{cust?.updated_at}}</h6>
</div>  